<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../js/opened.js"></script>
    <script src="../js/paste.js"></script>
    <style>
      #content {
        border: solid 1px #CCCCCC;
      }
      #title_form {
        width: 90%;
      }
    </style>
  </head>
  <body>
    <a id="download_html" download="page.html" href="#">Download</a>
    <label for="title_form">as title: </label>
    <input type="text" id="title_form" />
    <div id="content"></div>
  </body>
</html>
